body {
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background-color: #ff0000;
    border: none;
    font-weight: bold;
    color: white;
    padding: 7px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    box-shadow: 3px 3px 5px 3px #e3e3e3;
}
.delete-button:hover {
    background-color: #ee0000;
    cursor: grab;
}
.delete-button:active {
    background-color: #c50000;
}

@keyframes popIn {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

@keyframes popOut {
    from {
        scale: 1;
    }

    to {
        scale: 0;
    }
}

.popup {
    background-color: white;
    position: absolute;
    border: solid;
    display: grid;
    justify-content: center;
    padding: 15px;

    animation-name: popIn;
    animation-duration: .5s;
}

.popup-button {
    border: solid;
    font-weight: bold;
    background-color: #d1f6ff;
}
.popup-button:hover {
    background-color: #c4e5ee;
    cursor: grab;
}
.popup-button:active {
    background-color: #b8d8e0;
}

.deleting {
    scale: 0;
    transition: all 0.5s;
}

.close-button {
    margin: 2px;
    padding: 0;
    background-image: url('X_Icon.png');
    width: 10px;
    height: 10px;
    background-size: cover;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes highlightCup {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

.cup {
    position: absolute;

    animation-name: fadeIn;
    animation-duration: .5s;

    transition: left .5s, top .5s;
}
.cup:hover {
    cursor: grab;
    transform: scale(1.1);
}

.correct-cup {
    animation-name: highlightCup;
    animation-duration: 1s;
}

@keyframes bullet {
    from {
        top: 0;
    }

    to {
        top: 90vh;
    }
}

.bullet {
    animation-name: bullet;
    animation-duration: 1.5s;

    position: absolute;
}